<div class="zone">
  <div class="search">
    <input type="text">
    <i class="fas fa-search"></i>
  </div>
  <div class="container">
    <app-contact-bubble></app-contact-bubble>
    <app-contact-bubble></app-contact-bubble>
    <app-contact-bubble></app-contact-bubble>
    <app-contact-bubble></app-contact-bubble>
    <app-contact-bubble></app-contact-bubble>
    <app-contact-bubble></app-contact-bubble>
    <app-contact-bubble></app-contact-bubble>
    <app-contact-bubble></app-contact-bubble>
    <app-contact-bubble></app-contact-bubble>
    <app-contact-bubble></app-contact-bubble>
    <app-contact-bubble></app-contact-bubble>
    <app-contact-bubble></app-contact-bubble>
    <app-contact-bubble></app-contact-bubble>
    <app-contact-bubble></app-contact-bubble>
    <app-contact-bubble></app-contact-bubble>
    <app-contact-bubble></app-contact-bubble>

  </div>

</div>